<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href="'/Content/app.css' />
        <script src="/Scripts/app.js"></hScripts>
    </head>
    <body>
        
        <h1><%= title %></h1>
        <p>Welcome to the <%= title %> page</p>
    <body>    
</html>